html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}
