.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 50px;
}

.avatar {
  border: 1px solid #4285f4;
}

.logo {
  display: flex;
  gap: 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
}

.title {
  text-align: center;
}

.mainContainer {
  width: 90%;
  flex-grow: 1;
  align-items: stretch;
  margin: auto;
  display: grid;
  grid-template-areas:
    "video logs"
    "video logs"
    "video logs";

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.video {
  margin-top: 40px;
  grid-area: video;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.video video {
  width: 100%;
  max-height: 400px;
  height: initial;
  flex-grow: 1;
}

.lightCirclesContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  margin: 20px;
}

.lightCircleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lightCircleText {
  margin: auto;
  text-align: center;
  margin: 10px;
}

.lightCircle {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.2;
  display: grid;
  place-items: center;
  font-size: 64px;
}

.light-circle-active {
  opacity: 1;
}

.logs {
  grid-area: logs;
  border: 1px solid lightblue;
  padding-left: 10px;
  margin-top: 10px;
  background: #161d34;
  border-radius: 20px;
  color: azure;
}

.logsList {
  overflow-y: auto;
  max-height: 250px;
  padding: 0 5px;
}

.logEntry {
  border-bottom: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  margin-bottom: 20px;
  display: inline-flex;
  align-content: stretch;
  flex-direction: row;
  align-items: center;
}
.btn-primary {
  color: red;
}
.css-1wnsr1i {
  width: initial;
}
